{% extends 'header.html' %}

{%block header%}


{% endblock %}
{% block body %}
    
<section class="hero-wrap hero-wrap-2" style="background-image: url('/static/IMG/Main.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text js-fullheight align-items-end">
        <div class="col-md-9 ftco-animate pb-5">
            <p class="breadcrumbs"><span class="mr-2"><a href="/">Home <i class="fa fa-chevron-right"></i></a></span> <span>Our Projectss <i class="fa fa-chevron-right"></i></span></p>
          <h1 class="mb-3 bread">Our Projects</h1>
        </div>
      </div>
    </div>
  </section>
  
    <section class="ftco-section contact-section">
    <div class="container">
      <div class="row block-9 justify-content-center mb-5">
        <div class="col-md-8 mb-md-5">
          <form action="#" class="bg-light p-5 contact-form">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Your Name">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Your Email">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Subject">
            </div>
            <div class="form-group">
              <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="Message"></textarea>
            </div>
            <div class="form-group">
              <input type="submit" value="Send Message" class="btn btn-primary py-3 px-5">
            </div>
          </form>
            <h2 class="text-center mt-5">If you got any questions please do not hesitate to send us a message</h2>
        </div>
      </div>
      <div class="row d-flex mb-5 contact-info justify-content-center">
          <div class="col-md-8">
              <div class="row mb-5">
                <div class="col-md-4 text-center py-4">
                    <div class="icon">
                        <span class="fa fa-map"></span>
                    </div>
                  <p><span>Address:</span>88 ზაქარია ფალიაშვილის ქუჩა, თბილისი</p>
                </div>
                <div class="col-md-4 text-center border-height py-4">
                    <div class="icon">
                        <span class="fa fa-phone"></span>
                    </div>
                  <p><span>Phone:</span> <a href="tel://{{phone_number}}">{{phone_number}}</a></p>
                </div>
                <div class="col-md-4 text-center py-4">
                    <div class="icon">
                        <span class="fa fa-paper-plane"></span>
                    </div>
                  <p><span>Email:</span> <a href="mailto:{{email}}">{{email}}</a></p>
                </div>
              </div>
        </div>
      </div>
      <div class="row justify-content-center">
          <div class="col-md-8">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d744.6293808945014!2d44.757267329207735!3d41.709350198702246!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40447336f76f639f%3A0x361394f3c0929b5!2zODgg4YOW4YOQ4YOl4YOQ4YOg4YOY4YOQIOGDpOGDkOGDmuGDmOGDkOGDqOGDleGDmOGDmuGDmOGDoSDhg6Xhg6Phg6nhg5AsIOGDl-GDkeGDmOGDmuGDmOGDoeGDmA!5e0!3m2!1ska!2sge!4v1600262688140!5m2!1ska!2sge" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          </div>
      </div>
    </div>
  </section>	

{% endblock %}
