{% extends 'header.html' %}

{%block header%}


{% endblock %}
{% block body %}
<section class="hero-wrap" style="background-image: url('/static/IMG/Main.jpg');" data-stellar-background-ratio="0.3">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center">
        <div class="col-md-10 col-lg-7 ftco-animate d-flex align-items-end">
            <div class="text">
              <h1 class="mb-4">Georgian <span>Intergrated</span> System</h1>
              <div class="d-flex meta">
                  <a href="#" class="d-flex align-items-center button-link">
                  </a>
                </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  


      <section class="ftco-counter img" id="section-counter">
      <div class="container">
          <div class="row pt-md-5">
        <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
          <div class="block-18 py-md-5 mb-md-4">
            <div class="text text-border d-flex align-items-center">
              <strong class="number" data-number="{{yearsDone}}">0</strong>
              <span>Years of <br>Experienced</span>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
          <div class="block-18 py-md-5 mb-md-4">
            <div class="text text-border d-flex align-items-center">
              <strong class="number" data-number="{{projectsDone}}">0</strong>
              <span>Project <br>Done</span>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
          <div class="block-18 py-md-5 mb-md-4">
            <div class="text d-flex align-items-center">
              <strong class="number" data-number="{{happyUsers}}">0</strong>
              <span>Happy <br>Customers</span>
            </div>
          </div>
        </div>
      </div>
      </div>
  </section>

  <section class="ftco-section ftco-portfolio">
      <div class="container">
                <div class="col-md-12 portfolio-wrap">
                    <div class="row no-gutters align-items-center">
                        <div class="col-md-5 order-md-last img js-fullheight" style="background-image: url(/static/IMG/IMG1.jpg);">
                            
                        </div>
                        <div class="col-md-7">
                            <div class="text pt-5 pr-md-5 ftco-animate">
                                <div class="px-4 px-lg-4">
                                    <div class="desc text-md-right">
                                        <div class="top">
                                            <h2 class="mb-4">Biltmore</h2>
                                        </div>
                                        <div class="absolute">
                                            <p>TEXT</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 portfolio-wrap">
                    <div class="row no-gutters align-items-center">
                        <div class="col-md-5 img js-fullheight" style="background-image: url(/static/IMG/IMG2.jpg);">
                            
                        </div>
                        <div class="col-md-7">
                            <div class="text pt-5 pl-md-5 pl-md-4 ftco-animate">
                                <div class="px-4 px-lg-4">
                                    <div class="desc">
                                        <div class="top">
                                            <h2 class="mb-4">TBILISI</h2>
                                        </div>
                                        <div class="absolute">
                                            <p>Text</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
      </div>
  </section>



{% endblock %}
